/*
 * Pipeline configuration file
 */

///////////////////////////////////////////////////////////
//////////////////////    Parameters    ///////////////////
///////////////////////////////////////////////////////////

/*
 * Defines the pipeline inputs parameters (giving a default value for each for them)
 * Each of the following parameters can be specified as command line options
 * Do not forget to modify the path when necessary
 */

/* Reads directory */
params.readsFiles = "./samples/*_R{1,2}.fastq.gz"

/* Results directory */
params.resultsDir = "./results/"

/* Parameters of sqtk */
params.seqtk_nb_read = 2000000

/* Parameters of GetOrganelle */
params.getorganelle_index = "embplant_pt"
params.getorganelle_kmer = "21,45,65,85,105"
params.getorganelle_max_round = "15"

/* Parameters of FastPlast */
params.fastplast_index = "Brassicales"

/* Parameters of OrgAsm */
params.orgasm_probes = "protChloroArabidopsis"

/* Parameters of Rename_headers */
params.rename_script = "/path/to/rename_fasta_header.py"

/* Parameters of Nucmer */
params.nucmer_ref = "/path/to/brassica_oleracea.fasta"

/* Parameters of Mummer */
params.mummer_axe = "'[0:154000]'"
params.mummer_format_output = "png"

/* Parameters of select_assembly */
params.select_assembly_script = "/path/to/script_selection_assembly.sh"

/* Parameters of mafft */
params.mafft_method = "auto"

/* Parameters of rename_headers_phylo  */
params.rename_headers_phylo_script = "/path/to/rename_fasta_header_phylo.sh"

/* Parameters of raxml  */
params.raxml_model = "GTRGAMMAI"

/* Conda tools version */
seqtk = "1.3"
getorganelle = "1.7.6.1"
mummer = "3.23"
gnuplot = "5.4"
mafft = "7.505"
raxml = "8.2.12"

///////////////////////////////////////////////////////////
//////////////////////     Processes    ///////////////////
///////////////////////////////////////////////////////////

executor {
    name = 'slurm'
}

process {
    withName: seqtk {
        conda = "seqtk=${seqtk}"
        cache = false
        cpus = 4
        memory = 10.GB
    }

    withLabel: getorganelle {
        conda = "getorganelle=${getorganelle}"
        cache = false
        cpus = 4
        memory = 10.GB
    }
    
    withLabel: orgasm {
        container = 'docker://chloroextractorteam/benchmark_org-asm'
        cache = false
        cpus = 3
        memory = 4.GB
    }

    withName: fastplast {
        container = 'docker://chloroextractorteam/benchmark_fastplast'
        cache = false
        cpus = 4
        memory = 10.GB
    }

    withName: concaten {
        cache = false
        cpus = 1
    }

    withLabel: nucmer {
        conda = "mummer=${mummer}"
        cache = false
        cpus = 2
        memory = 2.GB
    }

    withLabel: mummer {
        conda = "mummer=${mummer} gnuplot=${gnuplot}"
        cache = false
        cpus = 1
        memory = 2.GB
    }

    withName: mafft {
        cpus = 4
        memory = 10.GB
    }

    withName: raxml {
        cpus = 4
        memory = 10.GB
    }
}

singularity {
    enabled = true
    autoMounts = true
}

report {
    enabled = true
    file = "$params.resultsDir/report.html"
}

