


/*
===============================================================
 Plastome Analysis Pipeline. Started April 2022.
 #### Homepage / Documentation
 https://github.com/alexisbourdais/
 #### Authors
 Alexis Bourdais
---------------------------------------------------------------
*/



///////////////////////////////////////////////////////////
//////////////////////    Parameters    ///////////////////
///////////////////////////////////////////////////////////

nextflow.enable.dsl=2
conda.enabled = true

/* Work directory */
params.baseDir = "$PWD"

/* Reads directory */
params.readsFiles = "${params.baseDir}/Samples/*_R{1,2}.fastq.gz"

/* Results directory */
params.resultsDir = "${params.baseDir}/Results/"

/* Parameters of GetOrganelle */
params.getorganelle_index = "embplant_pt"
params.getorganelle_kmer = "21,45,65,85,105"

/* Parameters of Rename_headers */
params.rename_script = "${params.baseDir}/Tools/rename_fasta_header.py"

/* Parameters of Nucmer */
params.nucmer_ref = "${params.baseDir}/Tools/brassica_oleracea.fasta"

/* Parameters of Mummer */
params.mummer_axe = "'[0:154000]'"
params.mummer_format_output = "png"

/* Parameters of select_assembly */
params.select_assembly_script = "${params.baseDir}/Tools/script_selection_assembly.sh"

/* Parameters of mafft */
params.mafft_method = "auto"

/* Parameters of raxml  */
params.raxml_model = "GTRGAMMAI"

///////////////////////////////////////////////////////////
//////////////////////     Processes    ///////////////////
///////////////////////////////////////////////////////////
